[user]
  name = breki
  email = berki.csaba.jozsef@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[alias]
  st = status
  br = branch
  ci = commit
  cim = commit -m
  cam = commit -am
  co = checkout
  cob = checkout -b
  df = diff
  dc = diff --cached
  lp = log -p
  unstage = reset HEAD --
  last = log -1 HEAD
  ss = stash save
  sl = stash list
  sa = stash apply
